@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  padding-top: 6rem;
}

.brand {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 1rem;
}

.right-nav .nav-link {
  font-weight: bold;
  text-align: center;
}

.site-container {
  min-height: 89.5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-section {
  flex: 1;
  padding: 2rem;
  background-color: #f2f2f2;
}

.text-center {
  background-color: rgb(0, 0, 0);
  color: rgb(220, 216, 216);
  font-weight: 500;
  font-size: 1.1rem;
}

.text-center a:hover {
  color: white;
  filter: brightness(150%);
}

.text-gray {
  color: rgb(220, 216, 216);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.card-body {
  background-color: rgba(255, 0, 0, 0.05);
}

.card-title {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.remove-link-style {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.all-departments-btn,
.btn-pagination {
  appearance: none;
  outline: 0;
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  margin-bottom: 1rem;
}

.btn-primary:hover,
.all-departments-btn:hover,
.btn-pagination:hover {
  transform: scale(1.05);
  background-color: #dd2222;
  cursor: pointer;
}

.rating span {
  color: #bb0000;
}

.img-large {
  width: 100%;
}

.loading {
  text-align: center;
}

.list-inline-item {
  gap: 1rem;
}

.btn-pagination-black,
.btn-pagination-black:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 800;
}

.btn-red {
  color: #bb0000;
  color: #ffffff;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
