@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla&family=Lora&family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  padding-top: 6rem;
}

.brand {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 1rem;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 0.9rem;
}

.right-nav .nav-link {
  font-weight: 500;
  text-align: center;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #bb0000;
}

.site-container {
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-section {
  flex: 1;
  padding: 1rem;
  background-color: #f2f2f2;
}

.text-center {
  background-color: rgb(0, 0, 0);
  color: rgb(220, 216, 216);
  font-weight: 500;
  font-size: 1.1rem;
}

.text-center a:hover {
  color: white;
  filter: brightness(150%);
}

.text-gray {
  color: rgb(220, 216, 216);
}
.product-card {
  margin: 0.5rem;
  min-width: 230px;
}
.card-body {
  background-color: #fff;
}

.card-title {
  color: #000000;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  height: 34px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 0.35rem;
}

.remove-link-style {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.card-title:hover,
.remove-link-style:hover {
  color: #bb0000;
}
.btn-primary {
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border: none;
}

.btn-trash {
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border: none;
  font-size: 0.9rem;
}
.btn-primary:disabled {
  background-color: #bb0000;
}

.btn-warning {
  background-color: #008e2d;
  color: #ffffff;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border: none;
}
.btn-secondary {
  background-color: #1826a4;
  color: #ffffff;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border: none;
}

.all-departments-btn {
  appearance: none;
  outline: 0;
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: block;
  margin: auto;
  max-width: 300px;
  width: 100%;
  border: none;
}

.btn-pagination {
  appearance: none;
  outline: 0;
  background-color: #bb0000;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  text-align: center;
  margin-bottom: 1rem;
  border: none;
}

.btn-primary:hover,
.all-departments-btn:hover,
.btn-pagination:hover {
  transform: scale(1.05);
  background-color: #dd2222;
  cursor: pointer;
  color: #ffffff;
  border: none;
}

.btn-secondary:hover {
  transform: scale(1.05);
  background-color: #4556f4;
  cursor: pointer;
  color: #ffffff;
  border: none;
}

.btn-warning:hover {
  transform: scale(1.05);
  background-color: #03d646;
  cursor: pointer;
  color: #ffffff;
  border: none;
}

.rating span {
  color: #bb0000;
  font-size: 0.9rem;
  margin: 0;
}

.img-large {
  width: 100%;
}

.loading {
  text-align: center;
}

.list-inline-item {
  gap: 1rem;
}

.btn-pagination-black,
.btn-pagination-black:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 800;
}

.btn-red {
  color: #bb0000;
  color: #ffffff;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.checkout-steps > div {
  font-weight: 800;
  border-bottom: 0.25rem solid #828282;
  color: #828282;
}

.checkout-steps > div.active {
  border-bottom: 0.25rem solid #ff0000;
  color: #ff0000;
}

.badge {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.form-check-input[type='radio']:checked {
  background-color: #bb0000;
  border-color: #bb0000;
}

.form-check-input[type='radio']:not(:disabled):active {
  background-color: #bb0000;
  border-color: #bb0000;
  box-shadow: none;
}

.form-check-input[type='radio']:focus {
  box-shadow: none !important;
  outline: none !important;
}

.search-form {
  width: 290px;
  min-width: 130px;
}

.search-input {
  border-radius: 1rem;
  box-shadow: none;
  height: 2.3rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

.search-button {
  background-color: #bb0000;
  color: #fff;
  border-radius: 1rem;
  box-shadow: none;
  height: 2.3rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

.search-button:hover,
.search-button:focus {
  background-color: #dd2222;
  color: #fff;
  transform: scale(1.05);
}
.custom-select::-ms-expand {
  display: block;
  width: 0;
  height: 0;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L0 3.5L4 3.5L2 5Z' fill='%23333'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 8px 10px;
  padding-right: 2.5rem;
}

.products-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.pagination-container {
  margin-top: auto;
}

.custom-file-container {
  display: inline-flex;
  align-items: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px;
  background-color: #bb0000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
}

.custom-file-upload:hover {
  background-color: #dd2222;
  color: #fff;
  transform: scale(1.05);
}

.file-name {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .btn-text {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .btn-text {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .btn-text {
    font-size: 14px;
  }
}
